#section3 #girl_sit{
    position: absolute;
    width: 600px;
    margin-top:13em;
    margin-left: 6em;
}
#section3 #wave{
    width: 100%;
    margin-top:6em;
}
#section2 #img1{
    position: absolute;
    width: 600px;
    left: 5em;
    margin-top: 7em;
}
#section2 #right_div{
    float: right;
    margin-top: 14em;
    margin-right: 8em;
}
#section2 #right_div h1{
    font-size: 30px;
    color:#6738c3;
}
#section2 #right_div p{

}
ul {
    list-style-type: none;
    margin-top: 1em;
    padding: 0;
    position: absolute;
    right: 0;
    margin-right: 4em;
}
ul li{
    float: left;
    margin-left: 6em;
}
ul li a{
    color:white;
    text-decoration: none;
}
#heading{
    margin-left: 4em;;
}
#heading h1{
    font-size: 70px
}
#heading p{
    color: #6738c3;
    font-size: 26px;
    font-weight: 600;
}
#group_16{
    position:absolute;right: 0;width:1100px;height:600px;margin-top: -10px
}
#group_20{
    width: 150px;margin-top:-4px
}
#group_18{
    top:4em;right:3em;position: absolute;
}
#group_21{
    width: 140px
}
